@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700");

body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  background-color: #363636;
  color: #D5D5D5;
  letter-spacing: 0px;
}

a, a:visited {
  color: #54C4EC;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: none;
}

img.logo {
  width: 232px !important;
  height: 82px !important;
  padding: 0px !important;
}

img.info-img {
  margin: 10px 0px 0px 0px;
}

p {
  line-height: 27px;
  margin: 0 0 10px;
}

h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 36pt;
  color: #D5D5D5;
  padding-bottom: 60px;
  padding-top: 5px;
  line-height: 48px;
}

h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #5f5f5f;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Open Sans';
  font-style: normal;
  color: white;
  font-size: 18pt;
  font-weight: 500;
  padding: 10px 10px 10px 0;
}

hr {
  border-top: 1px solid #5f5f5f;
  margin-bottom: 10px;
  margin-top: 0;
}

.document {
  color: #D5D5D5;
}

div.section h1 {
  margin-top: 0;
  padding-bottom: 30px;
  padding-top: 0px;
  line-height: 48px;
}

p.first {
  margin-top: 0 !important;
}


table.multiline-table td {
  vertical-align: top !important;
}

table {
  border-spacing: 2px;
  border-collapse: collapse;
  border-color: grey;
  padding: 8px;
  width: 100%;
}

th {
  background-color: #6A6A6A;
  padding: 8px;
  font-size: 10pt;
  color: #E4E4E4;
  border-color: #595959;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  font-weight: bold;
  text-align: left;
}

tr {
  border-right: 1px solid #d5d5d5;
  padding: 8px;
  line-height: 1.42857143;
}

td {
  padding: 8px;
  border-right: 1px solid #d5d5d5;
  font-size: 10pt !important;
}

td p {
  font-size: 10pt !important;
}

tr:nth-child(even) {
  color: #636060;
  background-color: #efefef;
}

tr:nth-child(odd) {
  color: #4A4A4A;
  background-color: #FFF;
}

.multiline-table tbody:nth-child(2n) td {
    background-color: #efefef;
}

.multiline-table tr {
  color: #636060;
  background-color: #FFF;
}

code.docutils {
  background: #3F3F3F;
  border: none;
}

code.docutils.literal {
  background-color: #3F3F3F;
  padding: 0px !important;
}

/* applied to <span> for one-liner preformatted text */
.pre {
  font-family: Consolas, monospace;
  word-break: break-all;
  word-wrap: break-word !important;
  color: #FFFFFF;
  background-color: #7FBC0D;
  border-radius: 4px;
  padding: 6px 4px 4px 4px !important;
  font-size: 14px !important;
}

pre {
  background-color: #F5F5F5;
  padding: 5px;
}

/* applied to <pre> for multi-line preformatted text */
.literal-block {
  color: #FFFFFF;
  background-color: #7FBC0D !important;
  font-family: Consolas, monospace;
  font-size: 14px !important;
  border: none !important;
  border-radius: 4px;
  overflow-x: auto;
  display: inline;
  padding: 6px 4px 4px 4px !important;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  line-height: 25px;
}

cite  {
  color: #FFFFFF;
  background-color: #7FBC0D !important;
  font-family: Consolas, monospace;
  font-size: 14px !important;
  border: none !important;
  border-radius: 4px;
  overflow-x: auto;
  display: inline;
  padding: 6px 4px 4px 4px !important;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  line-height: 25px;
}

/* applied to body, almost everyone lives in here! */
.wy-body-for-nav {
  background: #363636 none repeat scroll 0 0;
}

/*********************LEFT HAND NAV************************/
/* search box */
.wy-side-nav-search {
  background-color: inherit;
  margin-bottom: 10px !important;
  padding-bottom: 0px !important;
}

.wy-side-nav-search a {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px;
  color: rgba(0, 0, 0, 0);
}

.wy-side-nav-search a:hover {
  color: rgba(0, 0, 0, 0);
}

.wy-side-nav-search form {
  color: black;
}

/* nav menu side bar */
.wy-nav-side {
  background: #333 none repeat scroll 0 0;
  height: 100%;
  padding-bottom: 0;
}

/* menu scroll bar */
.wy-side-scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    background-color: #333;
}

.wy-menu-vertical {
  /* set position as soon as possible to avoid flicker when boostrap.css is loaded and sets this value */
  position: fixed;
}

.wy-menu-vertical a {
  color: rgb(132, 188, 13);
}

.wy-menu-vertical a:hover {
  color: #84BC0D;
}

.wy-menu-vertical li.current a:hover {
  color: #84BC0D;
}

/* make nav links green */
.wy-menu-vertical li.current > a {
  color: rgb(132, 188, 13);
  background-color: rgb(48, 48, 48);
}

.wy-menu-vertical li.current {
  background: #333 none repeat scroll 0 0;
}

.wy-menu-vertical li.current a {
  border: 0px;
}

.wy-menu.wy-menu-vertical a {
  background-color: #333 !important;
}

.wy-menu-vertical .toctree-l1 {
  margin: 20px 0;
}

.wy-menu-vertical .toctree-l1 > a {
  font-weight: 500;
  font-size: 110%;
  color: #9B9B9B !important;
  margin: 10px 0;
}

.wy-menu-vertical .toctree-l1.current > a {
  color: white !important;
}

.wy-menu-vertical .toctree-l1 > a:hover {
  color: white !important;
}

.wy-menu-vertical .toctree-l1 > a .toctree-expand {
  position: relative;
  left: -34px;
}

.wy-menu-vertical .toctree-l1 > a:before {
  background-image: url('../../_static/icon-list.png');
  background-size: contain;
  width: 24px;
  height: 24px;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}

.wy-menu-vertical .toctree-l1:nth-child(2) > a:before {
  background-image: url('../../_static/icon-books.png');
}

.wy-menu-vertical .toctree-l1:nth-child(3) > a:before {
  background-image: url('../../_static/icon-gears.png');
}

/*********************RIGHT HAND CONTENT************************/
/* wraps up .wy-nav-content and its subordinates */
.wy-nav-content-wrap {
  background-color: #3F3F3F !important;
  font-size: 12pt;
}

/* Content in middle (lives inside .wy-nav-content-wrap) */
.wy-nav-content {
  background-color: #3F3F3F;
  max-width: 1200px;
}

/* rst content lives inside wy-nav-content */
.rst-content {
  max-width: 1200px;
}

.rst-content code {
  width: 80%;
  padding: 2px;
  border: 0px;
  background-color: #F5F5F5;
  font-size: .7em;
  color: #555555;
  margin: 0 0 10px;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
}

.rst-content .section ol li p:last-child {
  margin-bottom: 12px;
}

/*********************API actions tables************************/
.endpoint-list a {
  display: block;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: #6A6A6A;
  padding: 14px;
  margin: 5px 0 0 0;
}

.endpoint-list a div {
  display: inline-block;
  word-wrap: break-word;
  padding: 0 2px;
}

.endpoint-list a div.GET {
  width: 10%;
  color: #1DF0D0;
}

.endpoint-list a div.action {
  width: 10%;
  color: #1DF0D0;
}

.endpoint-list a div.POST {
  width: 10%;
  color: #15DBF6;
}

.toctree-l3 ul {
  display: none !important;
}

.endpoint-list a div.PUT {
  width: 10%;
  color: #F8C204;
}

.endpoint-list a div.DELETE {
  width: 10%;
  color: #FF9E52;
}

.endpoint-list a div:first-child:before {
  font-size: 120%;
  content: "▾";
  margin-right: 15px;
}

.endpoint-list a.collapsed div:first-child:before {
  content: "▸";
}

.endpoint-list a div.path {
  width: 50%;
}

.endpoint-list a div.description {
  width: 30%;
}

.endpoint-long-description {
  cursor: text;
  padding: 25px;
  background-color: #efefef;
  color: #4A4A4A;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.endpoint-long-description .rubric {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

.endpoint-long-description .highlight-json tr:nth-child(n),
.endpoint-long-description .highlight-bash tr:nth-child(n) {
  background-color: #f5f5f5;
}

.endpoint-long-description .highlight-json td,
.endpoint-long-description .highlight-bash td {
  border-right: none;
}

/****** Elements we didn't ask for and don't want **************/
/* fwd/back buttons */
.rst-footer-buttons {
  display: none;
}

/* "view source" link */
.wy-breadcrumbs-aside {
  display: none !important;
}

.wy-breadcrumbs {
  display: none !important;
}

div[role=navigation][aria-label~=breadcrumbs] {
  display: none;
}

.wy-side-nav-search div.version {
  display: none !important;
}
/*
.wy-body-for-nav div.rst-versions {
  display: none !important;
}
*/
.fa-home:before, .icon-home:before {
  display: none;
}

.highlight-json .nt {
  color: #d14;
}

.highlight-json .kc, .kd, .kn, .kp, .kr, .kt, .mf, .mh, .mi, .mo {
  color: #445588;
}
table.parameters, table.multiline-table {
  border: 0 !important;
}

.wy-table-responsive table td {
  white-space: normal !important;
}

table.parameters th {
  background-color: #6A6A6A;
  color: #E4E4E4;
}

table.parameters tbody td:last-child {
  white-space: normal;
}

table.parameters .row-even {
  background-color: #efefef;
  color: #4A4A4A;
}

table.parameters .row-odd {
  background-color: white;
  color: #4A4A4A;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils {
  border: 0;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils tr {
  border: inherit;
  background-color: #3F3F3F;
  color: white;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils tr:hover {
  background-color: #000;
  cursor: pointer;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils tr td {
  border: inherit;
  background-color: inherit;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils .rubric {
  color: #84BC0D;
  font-size: 29px;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils tr img.default {
  display: block;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils tr img.hover {
  display: none;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils tr:hover img.default {
  display: none;
}

#welcome-to-the-invoca-developer-portal table.home-page.docutils tr:hover img.hover {
  display: block;
}

div.endpoint-list div.panel-heading {
  padding: 0;
}

div.endpoint-list div.panel-body .container {
  width: auto;
}

.panel-group {
  margin-bottom: 0;
}

.panel-body {
  padding: 0;
}

/*********************FOR BOOTSTRAP INTERACTIONS************************/
