@charset "UTF-8";

.icon-col {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 200px
}

.icon-col2 {
    padding-right: 0px;
    padding-left: 25px
}

.icon-toc {
    width: 7%;
    padding-bottom: 3px;
    margin-right: 10px;
    margin-left: 10px;
    color: #9B9B9B
}

.icon {
    height: 119px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.icon-smaller {
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.icon-hover {
    display: none;
    height: 119px;
    margin-left: auto;
    margin-right: auto
}

.icon-hover-smaller {
    display: none;
    height: 90px;
    margin-left: auto;
    margin-right: auto
}

.panel:hover .icon {
    display: none
}

.panel:hover .icon-smaller {
    display: none
}

.panel:hover .icon-hover {
    display: block
}

.panel:hover .icon-hover-smaller {
    display: block
}

.panel-body {
    cursor: text;
    padding: 25px;
    color: #4A4A4A;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.panel-body.index {
    cursor: pointer;
    background-color: #f5f5f5;
}

.panel-body.index:hover {
    background-color: rgba(204, 240, 231, 0.3);
}

.panel-title {
    font-size: 14px;
    margin-top: 7px
}

.panel-heading {
    padding: none
}

.panel-default > .panel-heading {
    color: white;
    background-color: #6A6A6A;
    border-color: #ddd;
    border-radius: 4px
}

.panel-default > .panel-heading .collapsed {
    border-radius: 0px
}

.sub-section-header {
    font-size: 22pt;
    color: #016454
}

.sub-section-text {
    font-size: 16pt;
    color: #1f2121
}
